In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/mobile-sales-dataset/mobile_sales.csv

In [2]:
df = pd.read_csv('/kaggle/input/mobile-sales-dataset/mobile_sales.csv')
df

,TransactionID,Date,MobileModel,Brand,Price,UnitsSold,TotalRevenue,CustomerAge,CustomerGender,Location,PaymentMethod
0,79397f68-61ed-4ea8-bcb2-f918d4e6c05b,2024-01-06,direction,Green Inc,1196.95,85,28002.80,32,Female,Port Erik,Online
1,4f87d114-f522-4ead-93e3-f336402df6aa,2024-04-05,right,Thomas-Thompson,1010.34,64,2378.82,55,Female,East Linda,Credit Card
2,6750b7d6-dcc5-48c5-a76a-b6fc9d540fe1,2024-02-13,summer,Sanchez-Williams,400.80,95,31322.56,57,Male,East Angelicastad,Online
3,7da7de95-f772-4cc2-bce0-b0873f98233e,2024-04-17,keep,Greer and Sons,338.60,79,31159.75,46,Other,East Kevin,Cash
4,469044af-0d60-4d87-af66-c6603e844057,2024-06-02,option,Brown and Sons,839.79,41,11523.36,38,Male,New Lindaborough,Online
...,...,...,...,...,...,...,...,...,...,...,...
995,41f08915-addb-4966-8628-038c479c619a,2024-01-28,challenge,Brooks Ltd,1386.69,76,28865.70,39,Male,Ronaldchester,Credit Card
996,bcfa1912-5bd8-4894-900f-376fa48f022d,2024-07-13,least,"Lang, Brown and Stone",1159.26,59,50471.42,21,Other,West Jenniferport,Credit Card
997,e6839305-a177-4cda-aada-3ac1f49eeeec,2024-01-13,enjoy,"Atkinson, Moore and Nelson",544.31,59,1381.82,26,Female,Barneschester,Credit Card
998,12f7ac32-9063-4ae5-a122-385b06ba77af,2024-01-25,half,"Kim, Maxwell and Moore",331.98,84,8557.32,20,Male,Jonesborough,Online
999,d3e82026-2084-40f2-8d5d-d2a94a198af9,2024-01-17,fill,Wallace LLC,973.97,79,70739.76,44,Female,Port Luis,Credit Card

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   TransactionID   1000 non-null   object
 1   Date            1000 non-null   object
 2   MobileModel     1000 non-null   object
 3   Brand           1000 non-null   object
 4   Price           1000 non-null   float64
 5   UnitsSold       1000 non-null   int64
 6   TotalRevenue    1000 non-null   float64
 7   CustomerAge     1000 non-null   int64
 8   CustomerGender  1000 non-null   object
 9   Location        1000 non-null   object
 10  PaymentMethod   1000 non-null   object
dtypes: float64(2), int64(2), object(7)
memory usage: 86.1+ KB

In [4]:
df.isnull().sum()

TransactionID     0
Date              0
MobileModel       0
Brand             0
Price             0
UnitsSold         0
TotalRevenue      0
CustomerAge       0
CustomerGender    0
Location          0
PaymentMethod     0
dtype: int64

In [5]:
df['Date'] = pd.to_datetime(df['Date'])
df

,TransactionID,Date,MobileModel,Brand,Price,UnitsSold,TotalRevenue,CustomerAge,CustomerGender,Location,PaymentMethod
0,79397f68-61ed-4ea8-bcb2-f918d4e6c05b,2024-01-06,direction,Green Inc,1196.95,85,28002.80,32,Female,Port Erik,Online
1,4f87d114-f522-4ead-93e3-f336402df6aa,2024-04-05,right,Thomas-Thompson,1010.34,64,2378.82,55,Female,East Linda,Credit Card
2,6750b7d6-dcc5-48c5-a76a-b6fc9d540fe1,2024-02-13,summer,Sanchez-Williams,400.80,95,31322.56,57,Male,East Angelicastad,Online
3,7da7de95-f772-4cc2-bce0-b0873f98233e,2024-04-17,keep,Greer and Sons,338.60,79,31159.75,46,Other,East Kevin,Cash
4,469044af-0d60-4d87-af66-c6603e844057,2024-06-02,option,Brown and Sons,839.79,41,11523.36,38,Male,New Lindaborough,Online
...,...,...,...,...,...,...,...,...,...,...,...
995,41f08915-addb-4966-8628-038c479c619a,2024-01-28,challenge,Brooks Ltd,1386.69,76,28865.70,39,Male,Ronaldchester,Credit Card
996,bcfa1912-5bd8-4894-900f-376fa48f022d,2024-07-13,least,"Lang, Brown and Stone",1159.26,59,50471.42,21,Other,West Jenniferport,Credit Card
997,e6839305-a177-4cda-aada-3ac1f49eeeec,2024-01-13,enjoy,"Atkinson, Moore and Nelson",544.31,59,1381.82,26,Female,Barneschester,Credit Card
998,12f7ac32-9063-4ae5-a122-385b06ba77af,2024-01-25,half,"Kim, Maxwell and Moore",331.98,84,8557.32,20,Male,Jonesborough,Online
999,d3e82026-2084-40f2-8d5d-d2a94a198af9,2024-01-17,fill,Wallace LLC,973.97,79,70739.76,44,Female,Port Luis,Credit Card

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   TransactionID   1000 non-null   object
 1   Date            1000 non-null   datetime64[ns]
 2   MobileModel     1000 non-null   object
 3   Brand           1000 non-null   object
 4   Price           1000 non-null   float64
 5   UnitsSold       1000 non-null   int64
 6   TotalRevenue    1000 non-null   float64
 7   CustomerAge     1000 non-null   int64
 8   CustomerGender  1000 non-null   object
 9   Location        1000 non-null   object
 10  PaymentMethod   1000 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(2), object(6)
memory usage: 86.1+ KB

In [7]:
df.set_index('Date', inplace=True)

In [8]:
print(df)

                                   TransactionID MobileModel  \
Date
2024-01-06  79397f68-61ed-4ea8-bcb2-f918d4e6c05b   direction
2024-04-05  4f87d114-f522-4ead-93e3-f336402df6aa       right
2024-02-13  6750b7d6-dcc5-48c5-a76a-b6fc9d540fe1      summer
2024-04-17  7da7de95-f772-4cc2-bce0-b0873f98233e        keep
2024-06-02  469044af-0d60-4d87-af66-c6603e844057      option
...                                          ...         ...
2024-01-28  41f08915-addb-4966-8628-038c479c619a   challenge
2024-07-13  bcfa1912-5bd8-4894-900f-376fa48f022d       least
2024-01-13  e6839305-a177-4cda-aada-3ac1f49eeeec       enjoy
2024-01-25  12f7ac32-9063-4ae5-a122-385b06ba77af        half
2024-01-17  d3e82026-2084-40f2-8d5d-d2a94a198af9        fill

                                 Brand    Price  UnitsSold  TotalRevenue  \
Date
2024-01-06                   Green Inc  1196.95         85      28002.80
2024-04-05             Thomas-Thompson  1010.34         64       2378.82
2024-02-13            Sanchez-Williams   400.80         95      31322.56
2024-04-17              Greer and Sons   338.60         79      31159.75
2024-06-02              Brown and Sons   839.79         41      11523.36
...                                ...      ...        ...           ...
2024-01-28                  Brooks Ltd  1386.69         76      28865.70
2024-07-13       Lang, Brown and Stone  1159.26         59      50471.42
2024-01-13  Atkinson, Moore and Nelson   544.31         59       1381.82
2024-01-25      Kim, Maxwell and Moore   331.98         84       8557.32
2024-01-17                 Wallace LLC   973.97         79      70739.76

            CustomerAge CustomerGender           Location PaymentMethod
Date
2024-01-06           32         Female          Port Erik        Online
2024-04-05           55         Female         East Linda   Credit Card
2024-02-13           57           Male  East Angelicastad        Online
2024-04-17           46          Other         East Kevin          Cash
2024-06-02           38           Male   New Lindaborough        Online
...                 ...            ...                ...           ...
2024-01-28           39           Male      Ronaldchester   Credit Card
2024-07-13           21          Other  West Jenniferport   Credit Card
2024-01-13           26         Female      Barneschester   Credit Card
2024-01-25           20           Male       Jonesborough        Online
2024-01-17           44         Female          Port Luis   Credit Card

[1000 rows x 10 columns]

In [9]:
df_mensal = df.resample('3ME').mean(numeric_only=True)
df_mensal

                 Price  UnitsSold  TotalRevenue  CustomerAge
Date
2024-01-31  870.704088  49.169811  39343.304465    39.308176
2024-04-30  780.919788  51.308235  40685.330329    41.943529
2024-07-31  810.529111  49.158654  40075.947692    41.021635

In [10]:
df_semanal = df.resample('3W').mean(numeric_only=True)
df_semanal

                 Price  UnitsSold  TotalRevenue  CustomerAge
Date
2024-01-07  894.418636  52.159091  48385.875909    40.522727
2024-01-28  868.511923  48.875000  34585.320865    39.230769
2024-02-18  864.904400  45.140000  42012.830300    43.180000
2024-03-10  720.478542  49.937500  38322.382396    40.635417
2024-03-31  762.057129  51.891089  44721.139208    40.762376
2024-04-21  779.978211  58.063158  37947.485895    42.442105
2024-05-12  816.386939  50.846939  42184.170918    42.265306
2024-06-02  805.882990  49.381443  38385.737216    41.061856
2024-06-23  773.189700  46.490000  38307.252800    41.910000
2024-07-14  838.062523  50.774775  42829.035946    39.567568
2024-08-04  788.717593  47.648148  37931.511852    40.777778

In [11]:
df['UnitsSold_Media_Movel_7'] = df['UnitsSold'].rolling(window=7).mean()
df.head(10)

,TransactionID,MobileModel,Brand,Price,UnitsSold,TotalRevenue,CustomerAge,CustomerGender,Location,PaymentMethod,UnitsSold_Media_Movel_7
Date,,,,,,,,,,,
2024-01-06,79397f68-61ed-4ea8-bcb2-f918d4e6c05b,direction,Green Inc,1196.95,85,28002.80,32,Female,Port Erik,Online,NaN
2024-04-05,4f87d114-f522-4ead-93e3-f336402df6aa,right,Thomas-Thompson,1010.34,64,2378.82,55,Female,East Linda,Credit Card,NaN
2024-02-13,6750b7d6-dcc5-48c5-a76a-b6fc9d540fe1,summer,Sanchez-Williams,400.80,95,31322.56,57,Male,East Angelicastad,Online,NaN
2024-04-17,7da7de95-f772-4cc2-bce0-b0873f98233e,keep,Greer and Sons,338.60,79,31159.75,46,Other,East Kevin,Cash,NaN
2024-06-02,469044af-0d60-4d87-af66-c6603e844057,option,Brown and Sons,839.79,41,11523.36,38,Male,New Lindaborough,Online,NaN
2024-03-07,f7e98db9-cb87-453e-8179-e48ba5443932,idea,"Massey, Nicholson and Young",1498.13,70,9703.89,45,Female,Port Daryl,Debit Card,NaN
2024-07-13,61f1c03f-5527-49bf-88f6-0d8694e72d41,southern,Coleman-Pena,975.77,63,8300.22,23,Other,Kathrynborough,Online,71.000000
2024-03-18,55d74ccb-e3c0-4ceb-a102-6d553736b944,top,"Brock, Cruz and Santiago",530.70,79,4515.80,26,Female,Kyleborough,Online,70.142857
2024-04-12,889bd479-e06a-494d-baae-e099bea5469c,anything,"Griffin, Boyle and Dawson",178.52,58,36150.93,20,Female,Jacquelinestad,Debit Card,69.285714
2024-04-19,567c276b-fec4-47e4-b5be-71f2b79bd745,wall,"Arroyo, Jones and Clayton",774.79,92,24228.27,33,Male,South Jessicachester,Online,68.857143